@charset "UTF-8";

div{
   text-align: center;
   font-family: 'Jeju Gothic', sans-serif;
}
option{
   font-family: 'Jeju Gothic', sans-serif;
}
.wrap {
   position:relative;
   display:block;
   margin-top:-16px;
   margin-left: auto;
   margin-right: auto;
   font-size:15px;
   border: 0px;
}
.course{
	position: relative;
   height:78px;
}

.table{
	border:1px gray solid;
}