a {
  background:none;
  border:0;
  outline:0;
  cursor:pointer;
  text-align: center;
  font-family : gothic;
}
a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: #f2f2f2; text-decoration: none;}

.tab_wrap {
	margin-left : 3%;
}

.tab_menu_container {
  display:flex;
}
.tab_menu_btn {
  width:80px;
  height:40px;
  transition:0.3s all;
  padding:0px;
}
.tab_menu_btn.on {
  border-bottom:2px solid #df0000;
  font-weight:700;
  color:#df0000;
}
.tab_menu_btn:hover {
  color:#df0000;
}
