@charset "UTF-8";
.table_style1 {
   width: 750px;

   font-family: 'Jeju Gothic', sans-serif;
}
.table_style1{
   width: 620px;
   text-align: center;
}
#timeTable div{
   border: 1px solid;
   text-align: center;
   font-family: 'Jeju Gothic', sans-serif;
}
option{
   font-family: 'Jeju Gothic', sans-serif;
}
.schedule {
   position: relative; 
   width: 620px; 
   border-color: #D8D8D8;
   font-size:15px;
}
.time{
   width:20px;
   height:78px;
   border-color: #D8D8D8;
}
.course{
   width: 120px;
   position: absolute;
   border-color: #D8D8D8;
}
.layout{
	display: inline-block;
	float : left;
	margin-left : 3%;
	margin-right : 3%;
}
#course_table {
	width : 1100px;
	float : left;
	table-layout: fixed;
}
#course_table th, tr {
	width : 1100px;
}
#timeTable {
	position : absolute;
	left : 1150px;
}
